<!-- это пробный по /base url -->

<!-- подключать, указывая app -->
{% extends "askans/base.html" %}



<!-- переопределяем базовый блок -->
{% block title %} Top {% endblock %}

<!-- переопределяем базовый блок -->
{% block main %}
	{% for post in posts %}
			<div>
				<p>published: {{ post.published_date }}</p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
	 {% endfor %}
{% endblock %}

<!--
 {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
 {% endfor %}

        </body>
    </html>-->
