{% extends "askans/base.html" %}

{% block title %} Login {% endblock %}

{% block main %}

<h3>Log In</h3>

              <div id="err_box" style="color: #FF0000;"> {{ form.non_field_errors }} </div>

              <form style="margin-left:10px;" method="POST" >
              {% csrf_token %}

{#               {{ form.as_p }}#}

                  Login <br>
{#                  <input type="text" class="edit" id="t1" placeholder="login..." maxlength="120" style="width: 300px;" title = "Input title here">#}
                  <log id="t1">{{ form.username }}</log>
                  <br>
                  <br>
                  Password <br>
{#                  <input type="password" class="edit" id="t2" placeholder="password..." maxlength="120" style="width: 300px;" title = "Input tags here">#}
                  <pas id="t2">{{ form.password }}</pas>
                  <br>
<!--                  type="submit" -->
                  <br>

                  <button type="submit" class="btn btn-primary" id="login" onclick="fControlLogPas()">Log In!</button>

              </form>



          <script>
                  function normChar(c)
                  {
                      let s = "0123456789qwertyuiopasdfghjklzxcvbnm";
                      if(s.indexOf(c) != -1) return true;
                      return false;
                  }

                  function normString(s)
                  {
                      const n = s.length;
                      for(let i = 0; i < n; i++)
                      {
                          let c = s.charAt(i);
                          if(normChar(c) == false) return false;
                      }
                    return true;
                  }

                    function fControlLogPas()
                    {
                      let s1 = document.getElementById('t1').value + "";
                      let s2 = document.getElementById('t2').value + "";

                      if (s1 == "" || s2 == "")
                      {
                          //alert("Emty text!");
                          document.getElementById('err_box').innerHTML = "Empty text!";
                          return;
                      }

                      if(normString(s1) == false)
                      {
                        //alert("No correct input");
                        document.getElementById('err_box').innerHTML = "No correct input";
                        return;
                      }

                      if(normString(s2) == false)
                      {
                        //alert("No correct input");
                        document.getElementById('err_box').innerHTML = "No correct input";
                        return;
                      }

                        document.getElementById('err_box').innerHTML = "";
                    }
          </script>

{% endblock %}