<!-- это пробный по /base url -->

<!-- подключать, указывая app -->
{% extends "askans/base.html" %}
{% load i18n %}

<!-- переопределяем базовый блок -->
{% block title %} Posts {% endblock %}

<!-- переопределяем базовый блок -->
{% block main %}
	{% for q in page %}
			 <span><a href={{ '/?page=1' }}>New questios</a>&nbsp;&nbsp;</span>
               <span><a href={% url 'hot_list'%}>Popular questios</a></span>
<!-- QUESTION  -->
<!--              <div class="question">-->
<!-- LEFT BOX -->
                  <div class="row question">
                      <div class="col-md-3">
                        <img src="guest.png" class="img-thumbnail avatar-q">
                        <span class="label label-primary" style="margin-left: 10px; margin-bottom: 10px;"> 33 </span>
                        <span class="label label-danger" style="margin-left: 10px;"> - </span>
                 &nbsp; <span class="label label-success" style="margin-left: -7px;"> +</span>
                        <br><br>
                      </div>
<!-- RIGHT BOX -->
                      <div class="col-md-9">
                        <br>
<!--                          lead это выделенный параграф -->
                        <p class="lead" style="text-decoration: underline;"><a href="#">{{ q.title }}</a></p>
                        <p class="preview-q">{{ q.text|linebreaksbr|truncatewords:"30" }}</p>
                        <a href="#">Ответы <span class="badge">42</span></a>
                          &nbsp;&nbsp;&nbsp;&nbsp;Tags: <span id="tags-q"></span>
                      </div>
                  </div>
    {% endfor %}
{#<div>#}
{#				<p>published: {{ q.published_date }}</p>#}
{#				<h1><a href="">{{ q.title }}</a></h1>#}
{#				<p>{{ q.text|linebreaksbr }}</p>#}
{#			</div>#}

    {% include "askans/paginator.html" %}

{% endblock %}