<!-- это пробный по /base url -->

<!-- подключать, указывая app -->
{% extends "askans/base.html" %}
{% load i18n %}

<!-- переопределяем базовый блок -->
{% block title %} Posts {% endblock %}

<!-- переопределяем базовый блок -->
{% block main %}
	{% for post in posts %}
			<div>
				<p>published: {{ post.published_date }}</p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

    {% include "askans/paginator.html" %}
{% endblock %}
            
<!--
{# {% for post in posts %}#}
{#        <div>#}
{#            <p>published: {{ post.published_date }}</p>#}
{#            <h1><a href="">{{ post.title }}</a></h1>#}
{#            <p>{{ post.text|linebreaksbr }}</p>#}
{#        </div>#}
{# {% endfor %}#}

 <!-- ПОДКЛЮЧАЕМ ПАГИНАТОР -->



{#        </body>#}
{#    </html>-->#}
