<!-- подключать, указывая app -->
{% extends "askans/base.html" %}
{% load staticfiles %}

<!-- переопределяем базовый блок -->
{% block title %} Question {% endblock %}

<!-- переопределяем базовый блок -->
{% block main %}

<div class="row question">
                      <div class="col-md-3">
                          <img src="{{q.author.avatar.url}}" class="avatar-qq">
                          <div style="color: #3e8f3e"> &nbsp;&nbsp;&nbsp;{{ q.author }} </div>
                          <span id="rating_{{ q.id }}" class="label label-primary" style="margin-left: 10px; margin-bottom: 10px;" > {{ q.rating }} </span>
                          {% if user.is_authenticated %}
                              <span id="adislike_{{ q.id }}" class="label label-danger" style="margin-left: 10px; cursor: pointer;" onclick="f_dislike(this)"> - </span>
                  &nbsp;      <span id="alike_{{ q.id }}" class="label label-success" style="margin-left: -7px; cursor: pointer;" onclick="f_like(this)"> +</span>
                          {% else %}
                              &nbsp;rating
                          {% endif %}
                        <br><br>
                      </div>
<!-- RIGHT BOX -->
                      <div class="col-md-9">
                        <br>
<!--                          lead это выделенный параграф -->
                        <p class="lead" style="text-decoration: underline;"><a href="#">{{ q.title }}</a></p>
                        <p class="preview-q">{{ q.text|truncatewords:"30" }}</p>
                        Tags: &nbsp;
                      {% if q.tags.count > 0 %}
                          {% for tag in q.tags.all %}
                              <span><a href="{% url 'tag_list' tag.name %}"> {{ tag.name }},</a></span>
                          {% endfor %}
                      {% endif%}

                      </div>
                  </div>

              <hr style="color: #a670c7; size: 2px;">

<!-- ANSWER -->
{% for a in page %}
              <div class="row answer">
              <a name="ans_{{ a.id }}"></a>
                      <div class="col-md-3">
                        <img src="{% static 'pic/guest.png' %}" class="img-thumbnail avatar-a">
                        <span id="rating_{{ a.id }}" class="label label-primary" style="margin-left: 71px; margin-bottom: 10px;"> {{ a.rating }} </span>
              {% if user.is_authenticated %}
                        <span id="dislike_{{ a.id }}" class="label label-danger" style="margin-left: 10px; cursor: pointer;" onclick="a_dislike(this)"> - </span>
                 &nbsp; <span id="like_{{ a.id }}" class="label label-success" style="margin-left: -7px; cursor: pointer;" onclick="a_like(this)"> +</span>
              {% else %}
                  &nbsp;rating
              {% endif %}
                        <br><br>
                      </div>
<!-- RIGHT BOX -->
                      <div class="col-md-9">
                       <p class="preview-a">{{ a.text|truncatewords:"30" }}</p>
                      {% if user.id == q.author.user.id %}
                        <input id="correct_{{ a.id }}" type="checkbox"
                                {% if a.correct %}
                                    {{ "checked" }}
                                {% endif %} onclick="a_correct(this)"> Correct!
                      {% else %}
                        <input type="checkbox" disabled
                                {% if a.correct %}
                                    {{ "checked" }}
                                {% endif %}> Correct!
                      {% endif %}

                      </div>
                  </div>
{% endfor %}

{% if  q.answer_set.count > 5 %}
    {% include "askans/paginator.html" %}
{% endif %}

{% if request.user.is_authenticated %}
    <a name="answer-form"></a>
    <form action="{{ request.get_full_path }}#answer-form" method="POST">
                 {% csrf_token %}

                    Answer
                    <div style="margin: 10px">{{ form.text }}</div>
                    <button type="submit" class="btn btn-success">Answer!</button>
    </form>
    {% else %}
        <p>
            Please,
            <a href="{% url 'login' %}?next={{ request.get_full_path }}">login</a> to answer
        </p>
{% endif %}

{% endblock %}