{% extends "askans/base.html" %}

{% block title %} Settings {% endblock %}

{% block main %}

<h3>Settings</h3>

              <div id="err_box" style="color: #FF0000;">
{#                  {{ form.non_field_errors }}#}
                  <div class="bg-danger">{{ form.email.errors}}</div>
              </div>

              <form style="margin-left:10px;" enctype = "multipart/form-data" method="POST">
                  {% csrf_token %}

{#                  Login <br>#}
{#                  {{ form.username }}#}
{#                  <br>#}
{#                  <br>#}
                  <div class="bg-danger">{{ form.email.errors}}</div>
                  Email <br>
                  {{ form.email }}
                  <br>
                  <br>

                  Upload avatar <br>
                  <div>
                      <img src="{{request.user.person.avatar.url}}" class="avatar-qq">
                  </div>

                  {{ form.avatar }}
                  <br>
                  <button type="submit" class="btn btn-primary" id="Save">Save</button>
              </form>

{% endblock %}