{% extends "askans/base.html" %}

{% block title %} SignUp {% endblock %}

{% block main %}

<h3>Registration</h3>

              <div id="err_box" style="color: #FF0000;">
{#                  {{ form.non_field_errors }}#}
{#                  {{ form.username.errors }}#}
{#                  {{ form.email.errors}}#}
{#                  {{ form.repeat_password.errors}}#}
              </div>

              <form style="margin-left:10px;" enctype = "multipart/form-data" method="POST">
                  {% csrf_token %}

                  <div class="bg-danger">{{ form.username.errors}}</div>
                  Login <br>
{#                  <input type="text" class="edit" id="t1" placeholder="login..." maxlength="120" style="width: 300px;" title = "Input title here">#}
                  {{ form.username }}
                  <br>
                  <br>

                  <div class="bg-danger">{{ form.email.errors}}</div>
                  Email <br>
                  {{ form.email }}
{#                  <input type="text" class="edit" id="t2" placeholder="email@mail.ru" maxlength="120" style="width: 300px;" title = "Input you email here">#}
                  <br>
                  <br>
{#                  NickName <br>#}
{#                  <input type="text" class="edit" id="t3" placeholder="nickname..." maxlength="120" style="width: 300px;" title = "Input you nickname here">#}
{#                  <br>#}
{#                  <br>#}
                  Password <br>
                  {{ form.password }}
{#                  <input type="password" class="edit" id="t4" placeholder="password..." maxlength="120" style="width: 300px;" title = "Input your password">#}
                  <br>
                  <br>

                  <div class="bg-danger">{{ form.repeat_password.errors}}</div>
                  Repeat password <br>
                  {{ form.repeat_password }}
{#                  <input type="password" class="edit" id="t5" placeholder="repeat password..." maxlength="120" style="width: 300px;" title = "Repeat your password">#}
                  <br>
<!--                  type="submit" -->
                  <br>
                  Upload avatar <br>
                  {{ form.avatar }}
{#                  <input type="file" name="img_file" accept="image/jpeg">#}
                  <br>
                  <button type="submit" class="btn btn-primary" id="Register"> <!--onclick="fControl()-->Sign Up!</button>
              </form>
		<script>
                  function normChar(c)
                  {
                      let s = "0123456789qwertyuiopasdfghjklzxcvbnm";
                      return s.indexOf(c) !== -1;

                  }

                  function normString(s)
                  {
                      const n = s.length;
                      for(let i = 0; i < n; i++)
                      {
                          let c = s.charAt(i);
                          if(normChar(c) === false) return false;
                      }
                    return true;
                  }

                    function fControl()
                    {
                      let s1 = document.getElementById('t1').value + "";
                      let s2 = document.getElementById('t2').value + "";
                      let s3 = document.getElementById('t3').value + "";
                      let s4 = document.getElementById('t4').value + "";
                      let s5 = document.getElementById('t5').value + "";

                      if (s1 === "" || s2 === "" || s3 === "" || s4 === "" || s5 === "")
                      {
                          //alert("Emty text!");
                          document.getElementById('err_box').innerHTML = "Empty text!";
                          return;
                      }

                      if(normString(s1) === false)
                      {
                        //alert("No correct input");
                        document.getElementById('err_box').innerHTML = "No correct input";
                        return;
                      }

                      if(normString(s2) === false)
                      {
                        //alert("No correct input");
                        document.getElementById('err_box').innerHTML = "No correct input";
                        return;
                      }

                      if(normString(s3) === false)
                      {
                        //alert("No correct input");
                        document.getElementById('err_box').innerHTML = "No correct input";
                        return;
                      }

                      if(normString(s4) === false)
                      {
                        //alert("No correct input");
                        document.getElementById('err_box').innerHTML = "No correct input";
                        return;
                      }

                      if(normString(s5) === false)
                      {
                        //alert("No correct input");
                        document.getElementById('err_box').innerHTML = "No correct input";
                        return;
                      }

                        document.getElementById('err_box').innerHTML = "";
                    }
          </script>
{% endblock %}